node_modules/
.expo/
.metro-cache/
dist/
web-build/
__pycache__/
*.pyc
.env
.env.local
*.egg-info/
mongo_data/
.DS_Store
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.next/
build/
*.log
.gemini/
projet_stock/projet_stock/
